.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heading1{
    align-items: center;
    font-family: Georgia, serif;
}

.App-header {
  background-color: #9b1015;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cryptoHead {
  width: 100%;
  height: 50px;
  background-color: rgb(166, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cryptoHeader {
  width: 100%;
  height: 150px;
  background-color: rgb(13, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cryptoHeader input {
  width: 50%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}

.cryptoDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.coin {
  width: 1200px;
  height: 300px;
  background-color: rgb(88, 9, 9);
  color: greenyellow;
  text-align: left;
  border-radius: 2px;
  margin: 20px;
}

/* Styles For Auto complete */
body {
  font-family: sans-serif;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f58;
  color: #f7ca36;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #945;
}
/* Styles For Auto complete */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
